services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - 1G
      - --reserve-memory
      - 0M
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
    ports:
      - "9092:9092"
      - "9644:9644"

  console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: redpanda-console
    depends_on:
      - redpanda
    ports:
      - "8080:8080"
    environment:
      KAFKA_BROKERS: "redpanda:29092"

  postgres:
    image: postgres:16
    container_name: streaming-postgres
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: streaming
    ports:
      - "5432:5432"
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  topic-init:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: redpanda-topic-init
    depends_on:
      - redpanda
    entrypoint: ["/bin/bash", "-lc"]
    command: >
      'until rpk cluster info -X brokers=redpanda:29092 >/dev/null 2>&1; do
        echo "waiting for redpanda..."; sleep 1;
      done;
      rpk topic create order_events -X brokers=redpanda:29092 --partitions 1 --replicas 1 || true;
      echo "topic ready";'
